<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="defaultFactory" value="Npgsql"/>
    <add key="logFile" value="D:\Temp\Logs\main.log"/>
    <add key="defaultConnectionString" value="MembershipConnectionPgsql"/>
  </appSettings>
  <connectionStrings>
    <add name="MembershipConnectionPgsql" connectionString="Server=127.0.0.1;Port=5432;Database=football_manager;User Id=postgres;Password=123;"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <authentication mode="Forms">
        <forms loginUrl="~/Accounts/Login.aspx" timeout="2880"/>
      </authentication>
      <membership defaultProvider="FMMembershipProvider">
        <providers>
          <clear />
          <add name="FMMembershipProvider" applicationName="Football Manager" type="FootballManager.FMMembershipProvider" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
          requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordForma="Hashed" connectionStringName="MembershipConnectionPgsql"/>
        </providers>
      </membership>
    </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlFactory, Npgsql" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql"
      type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
</configuration>
